<!-- homepage.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Homepage</title>
</head>
<body>
  <h1>Welcome to the Homepage</h1>
  <ul>
    <li><a href="/api/v1/users/login">Login</a></li>
    <li><a href="/api/v1/users/register">Register</a></li>
    <li><a href="/api/v1/users/items">Items</a></li>
    <li><a href="/api/v1/users/requests">Requests</a></li>
    <li><a href="/api/v1/users/acceptedrequests">Acceptedrequests</a></li>
    <li><a href="/api/v1/users/pendingrentals">Pending Rentals</a></li>
    <li><a href="/api/v1/users/createrental">Create Rental</a></li>
    <li><a href="/api/v1/users/closerental">Closerental</a></li>

  </ul>
</body>
</html>
